<div class="container mt-4">
  <!-- Error Message -->
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <!-- Button to open modal -->
  <app-add-compte></app-add-compte>
  <app-virement-component></app-virement-component>
  <app-versement-component></app-versement-component>
  <app-retrait-component></app-retrait-component>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Account Code</th>
        <th>Creation Date</th>
        <th>Balance</th>
        <th>Client</th>
        <th>Employe</th>
        <th>type</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compte of comptes">
        <td>{{ compte.codeCompte }}</td>
        <td>{{ compte.dateCreation  }}</td>
        <td>{{ compte.solde  }}</td>
        <td>{{ compte.client?.nomClient }}</td>
        <td>{{ compte.employe?.nomEmploye }}</td>
        <td>{{ compte.type }}</td>

      </tr>
    </tbody>
  </table>

</div>
