<!-- client-list.component.html -->
<h1>Hello Test</h1>
<app-add-client></app-add-client>
<div *ngIf="loading"></div>
<div *ngIf="error">{{ error }}</div>

@if (loading) {
  <div>Loading clients...</div>
}@else if(error){

  <div>{{error}}</div>

}

@if (!loading && !error) {
  <table class="table ">
    <thead class="table-dark">
      <tr>
        <th>Client ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      @for (client of clients; track $index) {
        <tr>
          <td>{{ client.codeClient }}</td>
          <td>{{ client.nomClient }}</td>
          
        </tr>
      }

    </tbody>
  </table>

}
