<div class="container mt-5">
    <h2>Group List</h2>
    <button class="btn btn-primary" (click)="openAddGroupModal()">Add Group</button>
    
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th scope="col">Group ID</th>
          <th scope="col">Group Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of groupes">
          <td>{{ group.codeGroupe }}</td>
          <td>{{ group.nomGroupe }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  