<div class="modal-header bg-primary text-white">
  <h5 class="modal-title">Add New Group</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
  <form (ngSubmit)="saveGroup()" class="p-3">
      <div class="mb-4">
          <label for="groupName" class="form-label fw-bold">Group Name</label>
          <input
              type="text"
              class="form-control border-primary"
              id="groupName"
              placeholder="Enter group name"
              [(ngModel)]="newGroup.nomGroupe"
              name="nomGroupe"
              required
          >
          <div *ngIf="!newGroup.nomGroupe" class="form-text text-danger">Group name is required.</div>
      </div>

      <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-secondary me-2" (click)="activeModal.dismiss()">Cancel</button>
          <button type="submit" class="btn btn-primary">Save Group</button>
      </div>
  </form>
</div>
