<button class="btn btn-primary" (click)="open(content)">Add Employee</button>

<ng-template #content let-c="close">
  <div class="modal-header">
    <h5 class="modal-title">Add New Employee</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="c()"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="nomEmploye" class="form-label">Employee Name</label>
        <input type="text" class="form-control" id="nomEmploye" [(ngModel)]="newEmployee.nomEmploye" name="nomEmploye" required>
      </div>

      <div class="mb-3">
        <label for="supervisor" class="form-label">Employee Sup (Supervisor)</label>
        <select class="form-select" id="supervisor" [(ngModel)]="newEmployee.employeSup" name="employeSup">
          <option *ngFor="let supervisor of supervisors" [ngValue]="supervisor">{{ supervisor.codeEmploye }}</option>
        </select>
      </div>

      <button type="button" class="btn btn-primary" (click)="submitEmployee()">Submit</button>
    </form>
  </div>
</ng-template>
